/* .All-Menu{
    height: 100vh;
    width: 100vw;
} */

.Menu-navbar{
    height: 100%;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    /* overflow: hidden; */
    display: flex;
}

.logo-img {
    /* padding-top: 155px; */
    width: 180px;
    height: 120px;
}

.Menu-navbar-left {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.Menu-navbar-right {
    padding-top: 13px;
    display: flex;
    margin-left: 200px;
    color: #6868AC;
}

.nav-link {
    color: inherit;
    text-decoration: inherit;
    font-size: 0.9rem;
    font-family: 'Sniglet', cursive;
    
}