.Menu3-navbar {
    height: 100%;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    display: flex;
}

.logo-img {
    width: 180px;
    height: 120px;
}

.Menu3-navbar-left {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.Menu3-navbar-right {
    padding-top: 2vh;
    display: flex;
    margin-left: 49vw;
    color: #6868AC;
    overflow: hidden;
}

.nav3-link-wrapper {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.nav3-link {
    color: inherit;
    text-decoration: inherit;
    font-size: 0.9rem;
    font-family: 'Sniglet', cursive;
    overflow: hidden;
}

.nav3-link:hover{
    color: #90b1e0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
