.Niveles-Menu {
  height: 20vh;
  width: 100%;
  color: #074F57;
  position: relative;
  z-index: 2;
}

.Niveles {
  height: 80vh;
  max-height: 80vh;
  width: 85vw;
  /* overflow: hidden; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #074F57;
  z-index: 2;
}

.conti1 {
  position: relative;
  z-index: 2;
  height: 5vh;
  width: 85vw;
  font-size: 1rem;
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Sniglet', cursive;
  text-align: center;
  letter-spacing: 0.02em;
  color: #5C5147;
  text-shadow: 5px 5px 0px #ffffff;
}

.conti2{
  margin-top: -75%;
}

.Niveles h1 {
  height: 15%;
  font-size: 1.5rem;
  margin-top: 2%;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.70rem;
  text-decoration: none;
  color: white;
  margin: auto;
}

.butcontainer {
  height: 65%;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}



/* CSS */
.iconcamara {
  position: relative;
  z-index: 2;
  height: 30%;
  width: 40%;
  border: 0;
  border-radius: 50%;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.5rem;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-left: 20%;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.counter-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.elegir-nivel-nombre {
  height: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.contenido{
  height: 9vh;
}

.contenido-espacio p{ 
  height: 60vh;
  width: 100%;
  font-family: 'Harmattan', sans-serif;
  font-size: 0.8rem;
  text-align: center;
  overflow: hidden;
}

.mensaje {
  position: relative;
  /* z-index: 2; */
  color: inherit; /* Hereda el color del texto de su elemento padre */
  font-size: 0.9rem;
  font-family: 'Harmattan', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 400px; /* Cambiar el ancho según tus necesidades */
  height: 300px; /* Cambiar la altura según tus necesidades */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fa871c;
  padding: 2rem;
  text-align: center;
  align-self: flex-start; /* Alinea el cuadro en la parte superior */
}

.instruction {
  margin-bottom: 1rem;
  font-size: 0.89rem;
  color: #FFFFFF;
  font-weight: bold;
}

.word {
  font-size: 1.5rem;
  color: #55595B;
  font-weight: bold;
  margin-bottom: 1rem;
}

.counter {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.word-counter {
  font-size: 1rem;
  color: #333333;
  margin-top: auto;
}


body {
  overflow: hidden;
}

