.Conocenos{
    height: 100vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.conocenos-Menu{
    height: 20vh;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
}

.conocenos-container{
    height: 80vh;
    width: 95vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.conocenos-descripcion{
    height: 60vh;
    width: 45%;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
}

.conocenos-descripcion p{
    width: 95%;
    font-family: 'Harmattan', sans-serif;
    font-size: 0.8rem;
    text-align: center;
}

.conocenos-miembros{
    width: 55%;
}

.miembro{
    height: 33.33%;
    display: flex;
    overflow: hidden;
}

.miembro .foto-img {
    width: 150px;
    height: 150px;
    border-radius: 90px;
    margin-right: 1vw;
}

.datos{
    height: 100%;
    display: grid;
    /* grid-template-rows: 10% 60% 30%; */
}
 
.datos-nombre{
    height: 100%;
    text-align: center;
    font-size: 0.9rem;
    font-family: 'Harmattan', sans-serif;
    background: linear-gradient(90deg, #EF5097, #D7367A, #B7205F, #930048, #B7205F, #D7367A, #EF5097);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    background-position: left;
    animation: shine 3s infinite;
}

@keyframes shine {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
    100% {
      background-position: left;
    }
  }

.datos-descripcion{
    /* height: 21.5vh; */
    font-size: 0.5rem;
    font-family: 'Harmattan', sans-serif;
    text-align:justify;
    overflow: hidden;
}

.datos-redes {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
    /* margin-top: -210px; */
}

.redsocial {
    height: 5vh;
    width: 5vw;
    display: inline-block;
    margin: 0;
  padding: 0;
    flex: 1; /* Hace que cada espacio ocupe todo el espacio disponible */
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
}

.redsocial a {
  display: block;
  width: 5vh; /* Ajusta el ancho según tus necesidades */
  height: 5vw; /* Ajusta el alto según tus necesidades */
  margin: 0;
  padding: 0;
  color: #48486d;
}

/* .datos-nombre {
    height: 5vh;
    text-align: center;
    font-size: 0.7rem;
    background: linear-gradient(90deg, #FFD662, #FF80BF, #EF5097, #6868AC, #5B8CC5, #6868AC, #EF5097, #FF80BF, #FFD662);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    animation: rotateGradient 5s infinite linear;
  }
  
  @keyframes rotateGradient {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
    100% {
      background-position: left;
    }
  }
 */