.microphone-icon {
    width: 100px;
    height: 100px;
    position: relative;
    top: -23%;
    margin-left: -10%;
}

.microphone-status {
    margin-top: 1%;
    margin-left: -3%;
    width: 700px;
    height: 100px;
    position: relative;
    font-family: 'Harmattan', sans-serif;
}


.button-form {
    margin-left: -10%;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 40px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.formulario-espacio {
    height: 4vh;
}

.Formulario {
    height: 100vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    font-family: 'Harmattan', sans-serif;
    text-align: center;
}

.Formulario-Menu {
    height: 18vh;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
}

.Formulario-Titulo {
    height: 10vh;
    font-size: 1rem;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Sniglet', cursive;
    text-align: center;
    letter-spacing: 0.02em;
    color: #5C5147;
    text-shadow: 5px 5px 0px #ffffff;
}


.Formulario-Todo {
    height: 80vh;
    width: 95vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* overflow: hidden; */
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en caso de falta de espacio */
    align-content: flex-start;
    /* Alinea los elementos al principio del contenedor */
}

.Formulario-izquierda {
    height: 80vh;
    width: 50%;
    font-size: 0.8rem;
    text-align: center;
    overflow: hidden;
}

.Formulario-derecha {
    width: 50%;
    overflow: hidden;
}

.Formulario-cont2 p {
    height: 12vh;
    font-size: 0.55rem;
    font-family: 'Harmattan', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.Formulario-info {
    font-size: 0.45rem;
    font-family: 'Harmattan', sans-serif;
    height: 13vh;

}

.button {
    margin-top: -757px;
}


.form-button {
    height: 4vh;
  }
  

.Formulario-Form-Nombre {
    height: 10vh;
    /* 34px */
    text-align: left;
    font-size: 0.9rem;
    font-family: 'Harmattan', sans-serif;
    background: linear-gradient(90deg, #EF5097, #D7367A, #B7205F, #930048, #B7205F, #D7367A, #EF5097);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200%;
    background-position: left;
    animation: shine 3s infinite;
    /* text-align: center; */
}

.Formulario-Form-Correo {
    height: 10vh;
    /* 34px */
    text-align: left;
    font-size: 0.9rem;
    font-family: 'Harmattan', sans-serif;
    background: linear-gradient(90deg, #EF5097, #D7367A, #B7205F, #930048, #B7205F, #D7367A, #EF5097);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200%;
    background-position: left;
    animation: shine 3s infinite;
}

.Formulario-Form-Mensaje {
    height: 10vh;
    /* 34px */
    text-align: left;
    font-size: 0.9rem;
    font-family: 'Harmattan', sans-serif;
    background: linear-gradient(90deg, #EF5097, #D7367A, #B7205F, #930048, #B7205F, #D7367A, #EF5097);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200%;
    background-position: left;
    animation: shine 3s infinite;
}

.Formulario-Form-Nombre input,
.Formulario-Form-Correo input,
.Formulario-Form-Mensaje textarea {
  color: #1E1E1E ;
}

.Formulario input[type="text"],
.Formulario input[type="email"],
.Formulario textarea {
    width: 85%;
    height: 40px;
    padding: 0 8px;
    border-radius: 1px;
    border: 1px solid rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.774);
    font-family: Karla, sans-serif;
    font-weight: 400;
    font-size: 0.4rem;
}

.Formulario input[type="text"]:focus,
.Formulario input[type="email"]:focus,
.Formulario textarea:focus {
    outline: none;
    border: 3px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(315deg, rgb(236, 160, 255), rgb(170, 178, 255));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    animation: bg-hue 2s linear infinite;
    font-family: Karla, sans-serif;
    font-size: 0.4rem;
}

/* @keyframes for the gradient animation */
@keyframes bg-hue {
    100% {
        filter: hue-rotate(360deg);
    }
}

.Formulario-Form-Mensaje {
    height: 20vh;
}

.Formulario-Form-Mensaje textarea {
    height: 100%;
    resize: none;
}

.Formulario-Form p {
    font-size: 13px;
    color: rgb(118, 118, 118);
    height: 4vh;
    font-style: italic;
}

.Formulario-Form a {
    font-size: 13px;
    text-decoration: none;
    color: inherit;
    color: black;
}

.boton-enviar {
    margin-top: 100px;
    position: absolute;
    font-family: 'Harmattan', sans-serif;
    font-size: 20px;
    height: 60px;
    width: 70px;
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    color: #FFFFFF;
}

.enviar-button {
    width: 1100px;
}


/* .Formulario-Form-Nombre,
.Formulario-Form-Correo,
.Formulario-Form-Mensaje {
  margin-bottom: 1vh; 
}

.Formularion-Datos{
    flex-grow: 1;
    
} */