.All-Home-jsx{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.Home-Menu{
  height: 20vh;
  width: 100%;
  color: #074F57;
  z-index: 1;
}

.Home{
  height: 80vh;
  max-height: 80vh;
  width: 85vw;
  /* overflow: hidden; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #074F57;
  z-index: 2;
}


.home-img {
  width: 200px;
  height: 200px;
  position: relative;
  top: -85px; /* Ajusta la posición vertical de la imagen */
}

.home-cont-1-nivel{
  margin-top: -610px;
}

.home-cont-2-nivel{
  margin-top: -1120px;
}

.home-cont-3-nivel{
  height: 5vh;
}

.frase{
  margin-top: -80px;
}

.boton{
  margin-top: -300px;
}


.Home h1{
  height: 8vh;
  font-size: 1.9rem;
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Sniglet', cursive;
  transform: translate(-50%,-50%);
  letter-spacing: 0.02em;
  color: #C6733A;
  text-shadow: 5px 5px 0px #ffffff;
}

.Home h3{
  height: 16vh;
  width: 45vw;
  font-size: 0.85rem;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Harmattan', sans-serif;
}

.home-boton{
  height: 8vh;
}

.home-link{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.70rem;
  text-decoration: none;
  color: white;
  margin: auto;
}

.Home p{
  height: 15vh;
  width: 26vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.45rem;
  font-weight: 400;
  overflow-y: hidden;
  font-family: 'Harmattan', sans-serif;
}

.home-slide-down  {
  animation: slideDown 1s ease-in-out;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.5, 0.2, 1);
  opacity: 0;
}

@keyframes slideDown {
  0% {
    transform: translateY(-300%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.home-slide-up {
  animation: slideUp 1s ease-in-out;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.5, 0.2, 1); 
  opacity: 0;
}

@keyframes slideUp {
  0% {
    transform: translateY(300%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.home-slide-down.home-delay-1 {
  animation-name: slideDown;
  animation-delay: 0.05s; /* Retraso para el primer contenedor */
}

.home-slide-down.home-delay-2 {
  animation-name: slideDown;
  animation-delay: 0.25s; /* Retraso para el segundo contenedor */
}

.home-slide-up.home-delay-1 {
  animation-name: slideUp;
  animation-delay: 0.25s; /* Retraso para el primer contenedor */
}

/* CSS */
.button-home {
  height: 100%;
  width: 22%;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 40px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
