/* 
.Menu {
  height: 20vh;
  width: 100%;
  color: #074F57;
  z-index: 1;
}

.Home {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 80%;
}

.Home h1 {
  height: 20%;
}

.Home h2 {
  height: 20%;
}

.Home img {
  height: 40%;
}

.Hola{
    height: 10%;
  } */

.Juego {
  display: flex;
  align-items: center;
}

/* .Camera {
  height: 20%;
  width: 50%;
  float: right;
}

.Word {
  height: 20%;
  width: 50%;
  float: left;
} */

.Camera {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -94%; 
  margin-right: 30%; 
}


.Container {
  margin-top: -85%;
}

.ImageContainer {
  justify-self: center; /* Centra la imagen horizontalmente */
  margin-left: 10%;  
  padding-top: 70px;
}


.WordContainer {
  text-align: center;
  margin-top: -27%; /* Ajusta el valor según sea necesario */
  margin-left: -22%;

}

.WordContainer h1 {
  font-family: "Arial", sans-serif; /* Cambia la fuente a tu preferencia */
  color: #031d0c; /* Cambia el color de fuente a tu preferencia */
  font-size: 1.5rem;;
  font-weight: bold;

}

.seña-img {
  width: 400px;
  height: 400px;
}
